.header {
    background-color: #141024;
    height: fit-content;
    width: 100%;
}

/* Стили для header-elements */

.header-elements {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    font-family: 'Jost';
    padding: 30px 100px;
    font-size: 30px;
    color: white;
}

a {
    color: white;
}

.nav {
    gap: 40px;
    display: flex;

    font-size: 20px;
}

.logo {
    font-weight: 700;
}

/* Стили для bottom-header */

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-family: 'Jost';
    color: white;
}

.text-bottom-header {
    gap: 30px;
    order: -1;
    display: flex;
    flex-direction: column;

    font-weight: 400;
}

.logo-bottom-header {
    font-weight: 600;
    font-size: 70px;
}

.text-bottom-logo {
    font-size: 20px;
}

.button-bottom-text {
    padding: 25px 54px;
    width: fit-content;
    border-radius: 5px;
    background-color: #D52027;
}

/* Стили для content */

.content {
    margin-left: 380px;
    font-family: 'Jost';
    color: #141024;
}

/* Стили для about-robo-school */

.about-robo-school {
    gap: 80px;
    display: flex;
    flex-direction: column;

    margin-top: 100px;
}

.about-robo-school-text {
    font-size: 30px;
}

.number-content {
    font-weight: 600;
    font-size: 70px;
    color: #D52027;
}

.content-info {
    font-size: 18px;
    opacity: 0.7;
}

.robo-school-info {
    gap: 120px;
    display: flex;
}

/* Стили для after-course */

.after-course {
    gap: 40px;
    display: flex;
    flex-direction: column;

    margin-top: 200px;
    font-weight: 600;
}

.after-course-text {
    gap: 100px;
    display: flex;

    opacity: 0.7;
    font-weight: 400;
    font-size: 18px;
}

.after-course-info {
    gap: 100px;
    display: flex;
}

.heading-content {
    font-size: 24px;
}

.heading-after-course {
    font-size: 50px;
}

/* Стили для practice-with-info */

/* .practice-with-info {
    gap: 10px;
    display: flex;
    align-items: baseline;
}

.info-mousemove {
    gap: 20px;
    display: flex;
    flex-direction: column-reverse;
    
    margin-bottom: 20px;
}

.info-img {
    width: 20px;
} */